{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'img/hospital_logo.png' %}" alt="Logo" width="30"  class="d-inline-block align-text-top">
        Doaba Hospital
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav-underline navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'Home_page' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'Patient:patient_page' page=1 %}">Patient</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
                </li>
          </ul>
          <form method="GET" action="{% url 'Patient:patient_page' page=1 %}" class="d-flex" role="search">
            <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <a class="btn btn-primary ms-2" href="{% url 'Patient:signup' %}">Signup</a>
          <a class="btn btn-success ms-2" href="{% url 'Patient:login' %}">Login</a>
      </div>
    </div>
  </nav>