<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Blog/css/view_blog.css' %}">
    <style>
        .blog-header {
            background-image: url("{% static 'Blog/img/blog1.jpg' %}");
            background-size: cover;
        }
    </style>
  </head>
  <body>
      {% include 'navbar.html' %}

    <main>
        <div class="blog-header">
            <H1>Hellsdfg</H1>
        </div>

        <div class="blog-content mt-5 mb-5 container">
            <h3>Introduction</h3>
            <p></p>
            <h3></h3>
            <p></p>
        </div>
    </main>
    </body>
</html>