body{
    background-color: #f2ffff;
}
.patient-card{
    display: flex;

    background-color: white;
    margin: 1em 7em;
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.patient-img img{
    width: 10em;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.patient-img p{
    margin-top: 0.2em;
    text-align: center;
    color: rgb(21, 21, 21);
}
